@tailwind base;
@tailwind components;
@tailwind utilities;

/* main-nav section */
.main-nav {
  @apply bg-black bg-opacity-70  fixed top-0 left-0 w-full z-20 text-sm;
}
.main-nav__container {
  @apply container mx-auto flex items-center w-full space-x-8 justify-center;
}
.item {
  @apply flex-1;
}
.main-nav__logo {
}

.main-nav--backdrop {
  backdrop-filter: 10px;
}
/* menu section */
.menu {
  @apply text-white flex items-center space-x-8;
}

/* iphone14-pro section */
.iphone14-pro {
  @apply flex flex-col items-center  relative;
}
.iphone14-pro__header {
  @apply absolute top-36 text-white flex flex-col items-center gap-4 z-10 py-3;
}
.iphone14-pro__title {
  @apply text-4xl font-bold;
}
.iphone14-pro__actions {
  @apply flex gap-5;
}
.iphone14-pro__actions--sm {
  @apply text-sm text-blue-700;
}
.iphone14-pro__image {
  @apply h-full w-full;
}

.iphone14-pro__subtitle {
  @apply text-xl font-light;
}

.iphone14-pro__button {
  @apply flex gap-1 items-center text-blue-500 hover:underline outline-none;
}
/* iphone-14 section */
.iphone-14 {
  @apply flex flex-col items-center  relative h-auto;
}

.iphone-14__header {
  @apply absolute top-36 flex flex-col items-center gap-4 z-10 py-3;
}

.iphone-14__title {
  @apply text-5xl font-semibold text-gray-900;
}
.iphone-14__subtitle {
  @apply text-xl font-light;
}
.iphone-14__desc {
  @apply text-gray-500;
}

.iphone14__image {
  @apply h-full w-full;
}
/* watches */

/* series 8 */

.series-8 {
  @apply flex flex-col items-center py-16 relative;
}

.series-8__header {
  @apply absolute  top-36 flex flex-col items-center gap-4 z-10 py-3;
}

.series-8__title {
}
.series-8__subtitle {
  @apply text-xl font-light text-white;
}
.series-8__desc {
  @apply text-gray-500;
}

.series-8__image {
  @apply h-full w-full;
}

/* new-products */

.new-products {
  @apply min-h-screen bg-white grid grid-cols-2 p-2 gap-2;
}

.product {
  @apply relative bg-slate-50 opacity-90 flex flex-col items-center py-12 overflow-hidden h-[480px];
}
.product__header {
  @apply flex flex-col items-center z-10;
}
.product__title {
  @apply h-10;
}

.product__header {
  @apply flex flex-col items-center gap-3;
}
.product__image {
  @apply absolute -top-2;
}
